@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
@keyframes slideInLeft {
  from {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(1200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.header {
  display: flex;
  min-height: 10%;
  width: 100%;
  font-size: 30px;
  background-color: #d0f2f0;
  justify-content: center;
  align-items: center;
}

.leftHeader {
  display: flex;
  width: 50%;
  margin-left: 10px;
  align-items: start;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.rightHeader {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 50%;
  align-items: end;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.content {
  display: grid;
  flex-direction: column;
  min-height: 800px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
  animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
.footer {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  min-width: 100%;
  font-size: 30px;
  background-color: #d0f2f0;
  justify-content: center;
  align-items: center;
}

.contacts {
  display:flex;
  flex-direction: column;
  width: 50%;
  justify-content:center;
  align-items:center;
}

.socials {
  display:flex;
  flex-direction: column;
  width: 50%;
  justify-content:center;
  align-items: center;
}

section {
  min-height: 80vh;
}