.icon {
  margin-right: 5px;
}

.icon-tall {
  padding-top: 10px;
}

.icon-group {
  display: flex;
  align-items: center;
}

.footer-header {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}
