headerButton{
    background-color: #d73c23;
    font-size: 10px;
    color: white;
    padding: 10px 20px;
    margin:10px;
    border: none;
    border-radius: 10px;
}

headerButton:hover{
    background-color:#c82a11;
}